html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #374c5f;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.user-repos-result {
  font-size: 1.3rem;
  background-color: rgba(139, 148, 152, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 3%;
}
.user-repos-result h3 {
  display: block;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
  margin-bottom: 2%;
}
.user-repos-result .repos-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow-x: scroll;
}
.user-repos-result .repos-table thead tr {
  background-color: #3b342b;
  color: white;
  text-align: center;
}
.user-repos-result .repos-table th, .user-repos-result .repos-table td {
  padding: 12px 15px;
}
.user-repos-result .repos-table tbody tr {
  border-bottom: 1px solid #3b342b;
}
.user-repos-result .repos-table tbody tr:nth-of-type(even) {
  background-color: rgba(122, 95, 29, 0.5);
}
.user-repos-result .repos-table tbody tr:last-of-type {
  border-bottom: 2px solid #3b342b;
}
.user-repos-result .repos-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.user-repos-result:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.section-divider {
  margin-top: 2%;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(59, 52, 43, 0), #3b342b, rgba(59, 52, 43, 0));
}

.wrong-input {
  border: 1px solid red !important;
  background-color: indianred !important;
}

@media only screen and (max-width: 1350px) {
  .user-repos-result {
    /* Force table to not be like tables anymore */
    /* Hide table headers (but not display: none;, for accessibility) */
    /*
    Label the data
    */
  }
  .user-repos-result .repos-table, .user-repos-result thead, .user-repos-result tbody, .user-repos-result th, .user-repos-result td, .user-repos-result tr {
    display: block;
  }
  .user-repos-result thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .user-repos-result tr {
    border: 1px solid #3b342b;
  }
  .user-repos-result td {
    border: none;
    position: relative;
    padding-left: 50% !important;
    text-align: right;
  }
  .user-repos-result td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    text-align: left;
  }
  .user-repos-result td:nth-of-type(1):before {
    content: "Repository Name";
  }
  .user-repos-result td:nth-of-type(2):before {
    content: "Last update";
  }
  .user-repos-result td:nth-of-type(3):before {
    content: "Description";
  }
  .user-repos-result td:nth-of-type(4):before {
    content: "URL to download";
  }
}
@media only screen and (max-width: 1250px) {
  .navbar .nav-links {
    visibility: hidden;
  }
  .navbar .nav-logo {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 750px) {
  html {
    font-size: xx-small;
  }

  .container {
    width: 96%;
  }

  .navbar .nav-links {
    visibility: hidden;
  }
  .navbar .nav-logo {
    width: 100%;
    text-align: center;
  }

  .landing-page-content h2 {
    text-align: left !important;
  }
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(43, 43, 43, 0);
  transition: 0.5s all;
  font-size: 1.5rem;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar .nav-logo {
  font-weight: 600;
  font-size: 2rem;
  color: white;
}
.navbar .nav-links {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
.navbar .nav-links a {
  transition: 0.2s all;
}
.navbar .nav-links a:hover {
  transform: scale(1.1);
}

.sticky {
  background-color: #212e39;
  z-index: 100;
}

.landing-page-section {
  height: 100vh;
  background-image: url("./../../assets/landing-photo.jpg");
  background-size: cover;
  background-position: center;
}

.landing-page-shadow {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.landing-page-shadow .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  height: 30%;
}
.landing-page-content h1 {
  margin: 0;
  font-size: 3rem;
}
.landing-page-content h2 {
  margin: 0;
  font-size: 2rem;
  max-width: 50%;
  text-align: justify;
}
.landing-page-content h3 {
  margin: 0;
}
.landing-page-content a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 15px;
  border: 1px solid white;
  border-radius: 30px;
  transition: 0.5s all;
  cursor: pointer;
}
.landing-page-content a:hover {
  background-color: white;
  color: black;
}

.repositories-section {
  background-color: #374c5f;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.repositories-section .container {
  padding: 2% 0;
}
.repositories-section header {
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 5%;
  letter-spacing: 2px;
}
.repositories-section h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
  letter-spacing: 1px;
}
.repositories-section .search-repo-section .input-group {
  width: 40%;
  position: relative;
}
.repositories-section .search-repo-section .form-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.repositories-section .search-repo-section header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2%;
}
.repositories-section .search-repo-section button {
  color: white;
  display: block;
  margin: 2% auto;
  padding: 0.5% 5%;
  font-weight: 400;
  font-size: 1.3rem;
  background: none;
  border: 1px solid white;
  border-radius: 15px;
  transition: 0.5s all;
  cursor: pointer;
}
.repositories-section .search-repo-section button:hover {
  background-color: white;
  color: black;
}
.repositories-section .search-repo-section input {
  width: 50%;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1);
}
.repositories-section .search-repo-section input:focus {
  outline: none;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1), 0 0 5px 1px #51CBEE;
}
.repositories-section .search-repo-section label {
  margin-right: 3%;
}

.author-info {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.author-info .container {
  padding: 2% 0;
}
.author-info header {
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 2px;
  letter-spacing: 2px;
}
.author-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.author-info .quote {
  font-style: italic;
  margin-top: 2%;
}
.author-info .icon-styles {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s all;
}
.author-info .icon-styles:hover {
  color: black;
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 2%;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  text-align: center;
  font-size: 1.5rem;
}
footer .container {
  display: flex;
  flex-direction: column;
  height: 70px;
}
footer h3 {
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 10px 0;
}
footer a {
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s all;
}
footer a:hover {
  color: black;
}
footer .footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*# sourceMappingURL=main.css.map */
